body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    height: 100%;
}

header {
    flex: 0 100px;
    width: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.results {
    justify-content: flex-start;
    width: 100%;
    text-align: left;
    padding-top: 1em;
}

/* .table * {
    background-color: transparent;
} */

div.websocketEvent {
    font-size: 15px;
    text-align: left;
    justify-self: flex-start;
    display: flex; 
}

footer {
    flex: 0 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

html {
    margin: 0px;
    height: 100%;
}

@media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }