body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    height: 100%;
}

header {
    flex: 0 100px;
    width: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.survey_content {
    justify-content: center;
}

.sinput {
    padding: 0.5em;
    margin: 0.25em;
    font-size: 20px;
}

.user {
    font-size: 25px;
}

h2 {
    padding: 0.5em;
    font-size: 25px
}

.answerPublished {
    list-style-type: none;
    font-size: 20px;
}

.answerEl {
    padding: 0.5em;
}

.radioButton {
    margin-right: 5px;
}

.about {
    font-size:25px;
    text-align: center;
}

.quote {
    font-size: 15px;
    text-align: left;
}

#quote_box {
    border: 10px black;
    padding: 1em;
}

.results {
    justify-content: flex-start;
    /* text-align: left; */
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#login_button {
    margin: 1;
}

#errorMessage {
    padding: 1em;
}

#userName {
    font-size: 25px;
    text-align: center;
    padding: 0.5em;
}

footer {
    flex: 0 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

html {
    margin: 0px;
    height: 100%;
}

@media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }